<div class="container">
    <div class="jumbotron shadow-lg m-3">
        <div class="row">
            <div class="col">
                <h1 class="display-3">The Krusty Burgers!</h1>
                <p class="lead">Now you can try your very own Krusty Burger and maybe find out the Secret Recipe!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Burgers waiting to be eaten -->
                <h3>Not Eaten Yet</h3>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li data-id="{{id}}" class="mb-1 p-1">

                        <form action="api/burgers/{{id}}?_method=PUT" method="POST" class="devour-it">
                            <button type="submit" class="btn btn-warning shadow">{{burger_name}}</button>
                        </form>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <!-- Burgers that have been eaten-->
                <h3>Eaten</h3>
                <ul class="list-group shadow">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li class="list-group-item" data-id="{{id}}">
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <div id="fill-your-plate">
                <form action="api/burgers" method="POST" class="create-form">
                    <div class="form-group">
                        <label for="new-burger">
                            <h2>May I take your order?</h2>
                        </label>
                        <input type="text" class="form-control" id="new-burger" name="name"
                            placeholder="What would you like to eat?">
                    </div>
                    <button type="submit" class="btn btn-success">Order!</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>